@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #e0e7ff 1px, #fafafa 1px);
}
