@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden;
}

body {
  background-size: 120px 120px;
  background-image: linear-gradient(
      to right,
      rgb(236, 235, 235) 0.4px,
      transparent 0.4px
    ),
    linear-gradient(to bottom, rgb(236, 235, 235) 0.4px, transparent 0.4px);
}
